<h1>{{project.Name}}</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">OVERVIEW</h3>
  </div>
  <div class="panel-body">
    
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">TEAM</h3>
  </div>
  <div class="panel-body">
    <table class="table">
    <thead>
    	<tr>
			<th ng-repeat="heading in headings">{{heading}}</th>
		</tr>
    </thead>
	<tbody>
		<tr ng-repeat="role in project.ActualRoles">
			<td>{{role.Role}}</td>
			<td>{{role.Name}}</td>
			<td>{{role.Hours}}</td>
		</tr>
	</tbody>
</table>
  </div>
</div>