

<h1 class="projectName">{{project.Name}}</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">OVERVIEW</h3>
  </div>
  <div class="panel-body">
  <div class="row">
    <div class="col-xs-3">
      <div class="location">
      <label>Sales ATU:</label> {{project.SalesATU}}
    </div>
    <div class="practive">
      <label>Practice:</label> {{project.ProjectPractice}}
    </div>
    </div>
    <div class="col-xs-3">
       <div class="hours">
       <label>Total Hours: </label> {{project.TotalHours}} 
       <br>
       <label>Baseline Hours:</label> {{project.BaselineHours}}
    </div>
    </div>
    <div class="col-xs-3">
      <div class="startDate">
      <label>Start Date:</label> {{project.StartDate | date:'mediumDate'}}
    </div>
    <div class="endDate">
      <label>End Date:</label> {{project.EndDate | date:'mediumDate'}}
    </div>
    </div>
  </div>
  <br>
  <div class="row">
      <div class="col-xs-12">
        <label>Project Stage:</label> {{project.ProjectStage}}
      </div>
  </div>
  <div class="row">  
    <div class="col-xs-3">
      <label>Work Complete:</label> {{project.WorkCompletePercent}}%
    </div>
    <div class="col-xs-9">
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="{{project.WorkCompletePercent}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.WorkCompletePercent}}%;">
          <span class="sr-only">{{project.WorkCompletePercent}}% Complete</span>
        </div>
      </div>
    </div>
  </div>    
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">TEAM</h3>
  </div>
  <div class="panel-body">
    <table class="table">
    <thead>
    	<tr>
			<th ng-repeat="heading in headings">{{heading}}</th>
		</tr>
    </thead>
	<tbody>
		<tr ng-repeat="role in project.ActualRoles">
			<td>{{role.Role}}</td>
			<td>{{role.Name}}</td>
			<td>{{role.Hours}}</td>
		</tr>
	</tbody>
</table>
</div>