<div class="row">
	<div class="col-xs-3 pull-right">
		<label>Search:</label>
		<input class="form-control" ng-model="searchText" ng-change="updateSearch(searchText)">
	</div>
	<div class="col-xs-2">
		<label>Number of Pages: </label>
		<select class="form-control" ng-model="selectedPageSize" ng-options="p.value for p in pageOptions" ng-init="selectedPageSize=pageOptions[1]" ng-change="updatePageSettings()">
		</select>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<table class="table table-striped" id="projectTable">
			<thead>
				<tr>
					<th ng-repeat="heading in headings">{{heading}}</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="project in projects | filter: searchText | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="go('/projects/' + project.Id)">
					<td ng-class="[{redStatusCode: {{project.State == 'Red'}}}, {greenStatusCode: {{project.State == 'Green'}}}, {amberStatusCode: {{project.State == 'Amber'}}}]">
						<span class="glyphicon glyphicon-stop"></span>
					</td>
					<td>{{project.Name}}</td>
					<td>{{project.AccountingManager}}</td>
					<td>{{project.BaselineHours}}</td>
					<td>{{project.ServicesBudget}}</td>
					<td>{{project.Client}}</td>
					<td>{{project.ServicesBudgetCurrency}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row center">
	<div class="col-xs-12">
		<button class="btn btn-primary" ng-disabled="currentPage == 0 || hidePagination" ng-click="currentPage=currentPage-1">
	    Previous
		</button>
		Page {{currentPage+1}} of {{numberOfPages()}}
		<button class="btn btn-primary" ng-disabled="currentPage >= numberOfPages() - 1 || hidePagination" ng-click="currentPage=currentPage+1">
			Next
		</button>
	</div>
	
</div>