<h1>PROJECTS</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th ng-repeat="heading in headings">{{heading}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="project in projects | startFrom:currentPage*pageSize | limitTo:pageSize" ng-click="go('/projects/' + project.Id)">
			<td ng-class="[{redStatusCode: {{project.State == 'Red'}}}, {greenStatusCode: {{project.State == 'Green'}}}, {amberStatusCode: {{project.State == 'Amber'}}}]">
				<span class="glyphicon glyphicon-stop"></span>
			</td>
			<td>{{project.Name}}</td>
			<td>{{project.AccountingManager}}</td>
			<td>{{project.Baselinehours}}</td>
			<td>{{project.ServicesBudget}}</td>
			<td>{{project.Client}}</td>
			<td>{{project.ServicesBudgetCurrency}}</td>
		</tr>
	</tbody>
</table>

<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
    Previous
</button>
{{currentPage+1}}/{{numberOfPages}}
<button ng-disabled="currentPage >= data.length/pageSize - 1" ng-click="currentPage=currentPage+1">
	Next
</button>
